<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link th:href="@{/css/product-detail.css}" th:rel="stylesheet"/>
    <script th:src="@{/images/logo.jpeg}"></script>
</head>

<body>

<div th:replace="fragments/user-header :: bar"/>
<br><br><br><br><br><br>

<div class="tm-edit-product-form"  method="get" th:action="@{/products/{id} (id = ${productDto.id})}" th:object="${productDto}">
<div class="container">
    <div class="container">
        <div class="container-fluid">
            <div class="wrapper row">
                <div class="preview col-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active"><img class="d-block w-100" th:src="@{/images/veget.jpg}"
                                                          alt="ceva"/></div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title" th:text="${productDto.productName}"/>
                    <p class="product-description"></p>
                    <h4 class="price">Preț: <span th:text="${productDto.price}"/> lei</h4>
                    <h3 th:text="${productDto.description}"></h3>

                    <div class="action">
                        <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                        <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
