<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Mica|Piata: Lista de produse</title>
</head>
<body>
<header class="switcher-bar ssss clearfix" th:replace="fragments/user-header :: bar"></header>
<div class="container bootdey" method="get" th:action="@{/product/products-list}">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <input class="form-control" placeholder="Caută produs" type="text"/>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Categorie
            </header>
            <div class="panel-body">
                <ul class="nav prod-cat">
                    <li>
                        <a class="active" href="#"><i class="fa fa-angle-right"></i>Fructe</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i>Legume</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Price Range
            </header>
            <div class="panel-body sliders">
                <div class="slider" id="slider-range"></div>
                <div class="slider-info">
                    <input class="form-range" id="customRange1" type="range">
                </div>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Filtre
            </header>
            <div class="panel-body">
                <form role="form product-form">
                    <div class="form-group">
                        <label>Preț</label>
                        <select class="form-control hasCustomSelect"
                                style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                            <option>Crescător</option>
                            <option>Descrescător</option>
                        </select>
                        <span class="customSelect form-control" style="display: inline-block;"><span
                                class="customSelectInner" style="width: 209px; display: inline-block;">-</span></span>
                    </div>
                    <div class="form-group">
                        <label>Rating minim</label>
                        <select class="form-control hasCustomSelect"
                                style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                            <option>O stea</option>
                            <option>Doua stele</option>
                            <option>Trei stele</option>
                            <option>Patru stele</option>
                            <option>Cinci stele</option>
                        </select>
                        <span class="customSelect form-control" style="display: inline-block;"><span
                                class="customSelectInner" style="width: 209px; display: inline-block;">-</span></span>
                    </div>
                    <button class="btn btn-primary" type="submit">Filtrează</button>
                </form>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Best Seller
            </header>
            <div class="panel-body">
                <div class="best-seller">
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src=/>
                        </a>
                        <div class="media-body">
                            <a class="p-head" href="#"></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-9">


        <div class="row product-list" th:each="productDto : ${productsDto}">
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img alt="" class="d-block w-100" th:src="@{images/cartof.jpg}"/>
                        <a class="adtocart" href="#">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>
                    <div class="panel-body text-center">
                        <h4>
                            <a class="pro-title" th:href="@{/products/{id} (id = ${productDto.id})}"
                               th:text="${productDto.productName}">
                            </a>
                        </h4>
                        <p class="price" th:text="${productDto.price}"></p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <section class="panel">
        <div class="panel-body">
            <div class="pull-right">
                <ul class="pagination pagination-sm pro-page-list">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>
</body>
</html>