<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit-User</title>
    <div th:replace="fragments/head-css :: head-css"/>
</head>

<body>
<div th:replace="fragments/header :: navbar"/>
<div class="container mt-5">
<form class="tm-edit-product-form"  method="post" th:action="@{/admin/users/{id}/edit (id = ${userDto.id})}" th:object="${userDto}">
        <div class="row tm-content-row">
            <div class="tm-block-col tm-col-avatar">
                <div class="tm-bg-primary-dark tm-block tm-block-avatar">
                    <h2 class="tm-block-title">Schimbă Avatar</h2>
                    <div class="tm-avatar-container">
                        <a href="#" class="tm-avatar-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </div>
                    <button class="btn btn-primary btn-block text-uppercase" >
                        Adaugă fotografie!
                    </button>
                </div>
            </div>
            <div class="tm-block-col tm-col-account-settings">
                <div class="tm-bg-primary-dark tm-block tm-block-settings">
                    <h2 class="tm-block-title">Setări</h2>
                    <form action="" class="tm-signup-form row">
                        <div >
                            <label for="name" style="color:white">Nume</label>
                            <input id="name" name="name" type="text" class="form-control validate" th:field="*{firstName}" required/>
                        </div>
                        <div >
                            <label for="lastName" style="color:white" >Prenume</label>
                            <input class="form-control validate" id="lastName" name="lastName" type="text" th:field="*{lastName}" required/>
                        </div>
                        <div >
                            <label for="email" style="color:white">Email</label>
                            <input class="form-control validate" id="email" name="email" type="email" th:field="*{email}" required/>
                        </div>
                        <div>
                            <label for="password" style="color:white">Parolă</label>
                            <input class="form-control validate" id="password" name="password" type="password" th:field="*{password}" required/>
                        </div>

                        <div>
                            <label for="phone" style="color:white">Telefon</label>
                            <input class="form-control validate" id="phone" name="phone" type="tel" th:field="*{phoneNumber}" required/>
                        </div>
                        <div>
                            <label class="tm-hide-sm">&nbsp;</label>

                            <button class="btn btn-primary btn-block text-uppercase" type="submit">Update Profile</button>

                            <a th:href="@{/admin/users/{id}/delete(id = ${userDto.id})}">
                            <button class="btn btn-primary btn-block text-uppercase" type="button" >Delete Account</button>
                            </a>
                            <a th:href="@{/admin/users}">
                                <button class="btn btn-primary btn-block text-uppercase" type="button">Cancel</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</form>
</div>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>

<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>

<script>$(function(){$("#expire_date").datepicker();});</script>
</body>
</html>