<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head class="header">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Mica | Piata: Recuperare parolă</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light py-1">
    <div class="container">
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="/home">
            <img alt="logo" src="/static/images/logo.jpeg" th:src="@{images/logo.jpeg}" width="150">
        </a>
    </div>
</nav>
</head>
<body>

<div class="container">

    <div class="row py-3 align-items-center">


        <!-- Change Password Form -->
        <div class="col-md-7 col-lg-5 ml-auto">
            <form action="/changePassword" method="post" th:object="${changePassword}">
                <div class="row">


                    <!-- Current Password -->
                    <label>Parola curentă:</label>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-0 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input class="form-control bg-white border-left-0 border-md" id="currentPassword"
                               name="currentPassword"
                               placeholder="Parola curentă" th:field="*{currentPassword}" type="currentPassword">
                        <label class="col-lg-4 control-label" style="color:red;" th:class="'error'"
                               th:errors="*{currentPassword}" th:if="${#fields.hasErrors('currentPassword')}"></label>

                    </div>

                    <!-- New Password -->
                    <label>Parola nouă:</label>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-0 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input class="form-control bg-white border-left-0 border-md" id="newPassword" name="newPassword"
                               placeholder="Parola nouă" th:field="*{newPassword}" type="newPassword">
                        <label class="col-lg-4 control-label" style="color:red;" th:class="'error'"
                               th:errors="*{newPassword}" th:if="${#fields.hasErrors('newPassword')}"></label>
                    </div>

                    <!-- Confirm New Password -->
                    <label>Repetare parola nouă:</label>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-0 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input class="form-control bg-white border-left-0 border-md" id="repeatNewPassword"
                               name="repeatNewPassword"
                               placeholder="Repetare parola nouă" th:field="*{repeatNewPassword}"
                               type="repeatNewPassword">
                        <label class="col-lg-4 control-label" style="color:red;" th:class="'error'"
                               th:errors="*{repeatNewPassword}"
                               th:if="${#fields.hasErrors('repeatNewPassword')}"></label>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-9 mx-auto mb-0">
                        <button class="btn btn-primary btn-block py-2" type="submit">
                            <span class="font-weight-bold">Recuperare parolă</span>
                        </button>
                    </div>

                </div>
            </form>
        </div>
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img alt="" class="img-fluid mb-2 d-none d-md-block"
                 src="/static/images/fructe-si-legume.jpg" th:src="@{images/fructe-si-legume.jpg}">
        </div>
    </div>
</div>
</body>
</html>