<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mica Piata</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}" th:rel="stylesheet">
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css}">
</head>

<body>
<div th:replace="fragments/user-header :: bar"/>
<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" th:src="@{/images/agriculture-banner1.jpg}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Mica | Piata</b></h1>
                            <h3 class="h2">Locul perfect pentru a cumpara cele mai naturale produse</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">

                        <img class="img-fluid" th:src="@{/images/agriculture-banner2.jpg}" alt="">


                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categoriile lunii</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img th:src="@{/images/veget.jpg}" class="rounded-circle img-fluid border" style="height: 250px "></a>
            <h5 class="text-center mt-3 mb-3">Legume</h5>
            <p class="text-center"><a class="btn btn-success" th:href="@{/products}">Vezi produsele</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img th:src="@{/images/fructe.jpg}" class="rounded-circle img-fluid border" style="height: 250px "></a>
            <h2 class="h5 text-center mt-3 mb-3">Fructe</h2>
            <p class="text-center"><a class="btn btn-success" th:href="@{/products}">Vezi produsele</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img th:src="@{/images/panificatie.jpg}" class="rounded-circle img-fluid border" style="height: 250px "></a>
            <h2 class="h5 text-center mt-3 mb-3">Panificatie</h2>
            <p class="text-center"><a class="btn btn-success" th:href="@{/products}">Vezi produsele</a></p>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->

<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">Mica | Piata</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        București 10001
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:010-020-0340">021-020-0340</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@micapiata.com">info@micapiata.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Produse</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" th:href="@{/products}" style="width:200px;color: white;">Fructe</a></li>
                    <li><a class="text-decoration-none" th:href="@{/products}" style="width:200px;color: white;">Legume</a></li>
                    <li><a class="text-decoration-none" th:href="@{/products}" style="width:200px;color: white;">Cofetărie</a></li>
                    <li><a class="text-decoration-none" th:href="@{/products}" style="width:200px;color: white;">Cereale</a></li>
                    <li><a class="text-decoration-none" th:href="@{/products}" style="width:200px;color: white;">Panificație</a></li>
                    <li><a class="text-decoration-none" th:href="@{/products}" style="width:200px;color: white;">Carne</a></li>
                    <li><a class="text-decoration-none" th:href="@{/products}" style="width:200px;color: white;">Pește</a></li>
                    <li><a class="text-decoration-none" th:href="@{/products}" style="width:200px;color: white;">Ouă</a></li>
                    <li><a class="text-decoration-none" th:href="@{/products}" style="width:200px;color: white;">Condimente</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Info</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Home</a></li>
                    <li><a class="text-decoration-none" th:href="@{/about}">About Us</a></li>
                    <li><a class="text-decoration-none" th:href="@{/contact}">Contact</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">Email address</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                    <div class="input-group-text btn-success text-light">Subscribe</div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->

</body>
</html>